<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true"
      autoReload="true"
      internalLogLevel="Information"
      internalLogFile="C:\Nlog\logs\internalLog.txt">

	<targets>
		<target xsi:type="Database"
      name="dbTarget"
      connectionString="Data Source=.;Initial Catalog=Academy;Integrated Security=true;Trust Server Certificate=true;"
      commandText="INSERT INTO Logs(Id,CreationDate,Level,Message,Exception,StackTrace,Logger,Url,UserId) VALUES (NEWID(),@datetime,@level,@msg,@exception,@trace,@logger,@url,@UserId)">
			<parameter name="@datetime" layout="${date}" />
			<parameter name="@msg" layout="${message}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@exception" layout="${exception}" />
			<parameter name="@trace" layout="${stacktrace}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@url" layout="${aspnet-request-url}" />
			<parameter name="@UserId" layout="${event-properties:userId}" dbType="Guid" />
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="off" final="true" />
		<logger name="*" minlevel="Information" writeTo="dbTarget" />
	</rules>
</nlog>